<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity
    Name="5ce8f9d0-a27d-48d8-a04b-5caaf85f0f54"
    Publisher="CN=robmi"
    Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="5ce8f9d0-a27d-48d8-a04b-5caaf85f0f54" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>d3d-stereo-sample</DisplayName>
    <PublisherDisplayName>robmi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="d3d_stereo_sample.App">
      <uap:VisualElements DisplayName="Direct3D stereoscopic 3D C++ sample" Description="Direct3D stereoscopic 3D C++ sample"
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:DefaultTile/>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>